aside {
  grid-area: aside;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;

  background-color: var(--medium-background);
  padding: 15px 15px;

  >.title {
    font-size: 1.6rem;
    margin-bottom: -8px;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 15px;

      .title {
        font-size: 1.15rem;
      }

      button {
        /* flex-basis: 0; */
        flex-shrink: 0;

        font-size: 0.85rem;
        padding: 5px 6px;
        border: none;
        border-radius: 0;

        background-color: var(--button-background);
        color: var(--button-text);

        &:hover {
          background-color: var(--button-hover);
        }

        &:disabled {
          background-color: var(--button-disabled-background);
          color: var(--button-disabled-text);
        }
      }
    }

    .items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;

      input[type="radio"],
      input[type="checkbox"] {
        margin-right: 4px;
      }

      &:has(.slider) {
        gap: 10px;
      }

      .slider {
        flex-direction: column;
        align-items: stretch;
        gap: 2px;

        .display {
          input {
            flex-grow: 1;
          }
        }

      }
    }
  }
}

@media only screen and (max-width: 768px) {
  html:has(.menuClosed) {
    aside {
      display: none;
    }
  }
}