.sliders {
  display: flex;
  align-items: flex-start;
}

.checkboxes {
  display: flex;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.controlButtons {
  button {
    height: 25px;

    &:disabled {
      img {
        filter: opacity(25%);
      }
    }

    &.hidden {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}