* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;

  a {
    color: black;
  }
}

html {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: clamp(300px, 20vw, 450px) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}