main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  #visualisation-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .items {
      button {
        height: 25px;

        &:disabled {
          img {
            filter: opacity(25%);
          }
        }

        &.hidden {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #visualisation-display {
    display: grid;
    flex-grow: 1;
    gap: 20px;
    padding: 20px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:has(.placing)~.chart .recharts-wrapper {
          background-color: honeydew;
        }
      }

      .chart {
        flex-grow: 1;
      }
    }
  }
}