#visualisation-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .items {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 3px;

    button {
      height: 45px;

      &#playButton,
      &#pauseButton,
      &#stopButton {
        height: 55px;
      }

      &:disabled {
        img {
          filter: opacity(25%);
        }
      }

      &.hidden {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}