#visualisation-display {
  display: grid;
  flex-grow: 1;
  gap: 20px;
  padding: 20px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      /* &:has(.placing)~.chart .recharts-wrapper {
        background-color: honeydew;
      } */
    }

    .chart {
      flex-grow: 1;
    }
  }
}