#visualisation-controls {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". controls info";

  .controls {
    grid-area: controls;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .buttons {
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      gap: 3px;

      button {
        height: 2.2rem;
        padding: 3px;
        border: none;
        border-radius: 0;

        background-color: var(--control-button-background);

        &:hover {
          background-color: var(--control-button-hover);
        }

        &:disabled {
          background-color: var(--button-disabled-background);
        }

        img {
          width: 100%;
          height: 100%;
          /* white filter */
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
        }

        &#playButton,
        &#pauseButton,
        &#stopButton {
          height: 3rem;
        }

        &:disabled {
          img {
            filter: opacity(25%);
          }
        }

        &.hidden {
          display: none;
        }
      }
    }

    .slider {
      /* align-self: stretch; */

      .display {
        flex-grow: 1;

        input {
          flex-grow: 1;
        }
      }

      @media only screen and (max-width: 768px) {
        /* display: none; */
        /* font-size: 0.85rem; */
      }
    }
  }

  .info {
    justify-self: end;
    grid-area: info;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    font-size: 0.95rem;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "controls";
  }
}