header {
  grid-area: header;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  background-color: var(--dark-background);
  padding: 15px 15px;

  .title {
    font-size: 2.2rem;

    a {
      color: var(--white-text);
    }

    @media only screen and (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;

    img {
      height: 24px;
      /* white filter */
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
    }

    button {
      border: none;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &#high-contrast-mode-button {
        div {
          color: white;
          font-size: 1.6rem;
          font-weight: bold;
          text-align: center;
          vertical-align: middle;
        }

        &.on {
          /* img {
          filter: invert(92%) sepia(67%) saturate(1502%) hue-rotate(350deg) brightness(102%) contrast(110%);
        } */

          div {
            color: yellow;
          }
        }
      }
    }

    .mode-switch {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;

      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 28px;

        /* Hide default HTML checkbox */
        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: var(--slider-background);
          -webkit-transition: .4s;
          transition: .4s;

          &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }

          &.round {
            border-radius: 34px;

            &:before {
              border-radius: 50%;
            }
          }
        }

        input:checked+.slider {
          background-color: var(--slider-background);
        }

        input:focus+.slider {
          box-shadow: 0 0 1px var(--slider-background);
        }

        input:checked+.slider:before {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }
      }
    }

    #dark-mode-button {
      display: none;
    }

    @media only screen and (max-width: 768px) {
      #dark-mode-switch {
        display: none;
      }

      #dark-mode-button {
        display: inline-block;
      }

      gap: 20px;
    }
  }
}