footer {
  grid-area: footer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  background-color: #075985;
  padding: 7px 0 3px;
  font-size: 0.9rem;

  pre,
  a {
    color: #f0f9ff;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: #cbd5e1;
    }
  }

  & img {
    height: 1rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
  }
}