* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

p,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
label {
  color: var(--dark-text);
}

html {
  font-size: 16px;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    overflow: visible;
    font-size: 14px;
  }
}

:root:has(.lightTheme) {
  --dark-background: #075985;
  --medium-background: #e0f2fe;
  --light-background: white;
  --medium-text: #f0f9ff;
  --medium-text-hover: #cbd5e1;
  --white-text: white;
  --dark-text: black;
  --input-accent-color: #0369a1;
  --button-background: #075985;
  --button-text: white;
  --button-hover: #0c4a6e;
  --button-disabled-background: #e2e8f0;
  --button-disabled-text: #94a3b8;
  --control-button-background: #0c4a6e;
  --control-button-hover: #082f49;
  --slider-background: #94a3b8;
}

:root:has(.darkTheme) {
  --dark-background: #075985;
  --medium-background: #353535;
  --light-background: #262626;
  --medium-text: #f0f9ff;
  --medium-text-hover: #cbd5e1;
  --white-text: white;
  --dark-text: white;
  --input-accent-color: #0369a1;
  --button-background: #075985;
  --button-text: white;
  --button-hover: #0c4a6e;
  --button-disabled-background: #737373;
  --button-disabled-text: #404040;
  --control-button-background: #075985;
  --control-button-hover: #0c4a6e;
  --slider-background: #94a3b8;

  &:has(.highContrastTheme) {
    --medium-background: #262626;
    --light-background: black;
    --input-accent-color: #38bdf8;
    --button-background: #0284c7;
    --button-hover: #0369a1;
    --button-disabled-background: #a3a3a3;
    --button-disabled-text: #525252;
    --control-button-background: #0284c7;
    --control-button-hover: #0369a1;
  }
}

/* Dummy settings to make dark theme extensions detect dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}

button {
  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: auto;
    }
  }
}

input[type='radio'],
input[type='checkbox'],
input[type='range'] {
  accent-color: var(--input-accent-color);
}

[data-tooltip] {
  cursor: pointer;
  position: relative;

  &::after {
    background-color: white;
    color: black;
    font-size: 0.9rem;
    padding: 6px 10px;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    text-wrap: nowrap;
    bottom: 0px;
    left: 50%;
    content: attr(data-tooltip);
    transform: translate(-50%, 110%) scale(0);
    transform-origin: top;
    transition: 0.14s;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .05);
  }

  &:hover::after {
    display: block;
    transform: translate(-50%, 110%) scale(1);
  }

  @media only screen and (max-width: 768px) {
    &::after {
      width: min-content;
      text-wrap: wrap;
    }
  }
}

#root {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-columns: clamp(300px, 20vw, 450px) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;

    &:has(.menuClosed) {
      grid-template-areas: 'header'
        'main'
        'footer';
    }

    &:has(.menuOpen) {
      grid-template-areas: 'header'
        'aside'
        'footer';
    }
  }
}